In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
input_file = 'challenge.txt'
output_file = 'challenge.csv'
delimiter = '	'  # this is the text file's delimiter

with open(input_file, 'r') as infile, open(output_file, 'w', newline='') as outfile:
    reader = csv.reader(infile, delimiter=delimiter)
    writer = csv.writer(outfile)
    for row in reader:
        writer.writerow(row)

In [4]:
df = pd.read_csv('challenge.csv')

In [5]:
df.head()

,-0.768094180020332,-1.06289933205503,-1.50289503779295,0,0.1,0.2,0.3,0.4,0.5,0.6
0,-1.326407,-0.725706,-1.436839,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.870501,-0.944614,-0.796163,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.198228,-0.633996,-1.031985,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.581253,-0.839979,-0.762256,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.088896,-1.356573,-1.150010,0.0,0.0,0.0,0.0,0.0,0.0,0.0